
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

*.cache

.godot/editor/script_editor_cache.cfg

.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4

.godot/editor/create_recent.Node

.godot/editor/editor_layout.cfg

.godot/editor/node_2d.*.cfg
